.shops-container {
  min-width: 100vh;
  min-height: 100vh;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(174, 28, 150) 0%,
    rgb(100, 29, 118) 90%
  );
  padding: 0;
  margin: 0;
}

.shops-parent {
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.shops-box {
  width: 70vw;
  max-height: 80vh;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  margin: 0 auto;
}

.shops-title {
  font-size: 40px;
  font-weight: 450;
  color: rgb(74, 22, 87);
}

.shop-label-container {
  margin: 10px;
}

.shop-label {
  color: white;
  font-size: larger;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.btn-shop-delete {
  margin-left: 5px;
  font-size: small;
}

#list-of-shops {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-shop-delete {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: lightpink;
}

.btn-shop-delete:hover {
  color: #FF0000;
}

.btn-shop-delete:focus {
  outline: none;
}
